
/* Para bajar el footer */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

     /* background-image: url("../img/pexels-frank-cone-140140-3279307.jpg"); */
    /* Ruta de la imagen */
    /* background-size: cover; */
    /* Ajusta la imagen para cubrir todo el área */
    /* background-position: center; */
    /* Centra la imagen */
    /* background-repeat: no-repeat; */
    /* Evita que la imagen se repita */
}

main {
  flex-grow: 1;
}